html, body {
    height: 100vh;
}

body {
    margin: 0;
    font-family: 'Comic Sans MS', cursive;
    height: 100vh;
}

#index {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 15% auto 15%;
}

.geral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("imgs/cabecalho.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

#index header {
    grid-column: 1 / 3;
    grid-row: 0 / 1;
}

.geral header {
    height: 15vh;
}

header h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 200%;
    margin: 5px 0;
    color: gold;
    text-shadow: 2px 2px black;
}

header nav {
    background-image: linear-gradient(45deg, rgb(45, 45, 45), gray, gray, rgb(45, 45, 45));
    padding: 2px 0;
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
}

header nav ul {
    display: inline;
    padding: 2px 4px;
}

header nav li {
    list-style-type: circle;
    display: inline;
    padding-right: 8px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: orange;
    text-decoration: underline;
}

#index main {
    background-color: beige;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-right: 2px solid orange;
}

.geral main {
    flex-grow: 1;
    background-color: beige;
    text-align: center;
}

#infos main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2%;
}

#infos main article {
    margin: 0 auto;
}

#infos main article h2 {
    margin: 5px 0;
}

#autor {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#autor p {
    text-align: left;
    margin: 0;
}

#itens {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

#creditos {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#infos main li {
    text-align: left;
}

#infos main li a {
    color: blue;
}

#infos main li a:hover {
    color: rgb(30, 135, 255);
}

#infos main ul, #infos main ol {
    margin: 0;
}

#imgs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#imgs img {
    border-radius: 5px;
    width: 15vw;
    height: 30vh;
}

#index main h1 {
    margin: 0 10px;
    text-align: center;
    text-decoration: underline;
}

#index main p:not(.container p) {
    text-align: justify;
}

#index main ol li h2 {
    margin: 5px;
}

#index main ol li::marker {
    font-family: 'Comic Sans MS';
    font-size: 120%;
}

#index main ol article {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0 10px 30px 10px;
}

#index img {
    display: block;
    margin-top: 10px;
    width: 300px;
    height: 150px;
    border-radius: 5px;
}

.geral img {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.container {
    position: relative;
}

.container:hover .texto {
    opacity: 1;
    bottom: 0;
    transition: all 200ms ease;
}

.texto {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin-bottom: 0;
    opacity: 0;
}

#dicas {
    margin-left: 20px;
}

#dicas a {
    color: blue;
}

#dicas a:hover {
    color: rgb(30, 135, 255);
}

#index aside {
    background-color: rgb(255, 220, 175);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
}

#index aside p {
    text-align: justify;
    margin: 5px 15px;
}

#index aside h3 {
    margin-bottom: 5px;
}

#resp1, #resp2, #resp3 {
    visibility: hidden;
    margin: 5px 10px;
    height: 50px;
}

input {
    margin: 10px;
    padding-left: 5px;
    font-family: 'Comic Sans MS';
    font-size: 120%;
    border: 1px solid black;
    border-radius: 10px;
    width: 150px;
}

button {
    background-color: orange;
    font-family: 'Comic Sans MS';
    font-size: 120%;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 185, 55);
    transform: scale(1.05);
    transition: all 50ms ease;
}

button:active {
    transform: scale(0.95);
    transition: all 50ms ease;
}

footer {
    background-color: rgb(75, 75, 75);
    border-top: 2px solid orange;
}

#index footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.geral footer {
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#voltar {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 0 10px;
    padding-bottom: 4px;
    color: orange;
    background-color: white;
    border: 2px solid orange;
    border-radius: 5px;
    text-decoration: none;
    font-size: larger;
}

#voltar:hover {
    transform: scale(1.05);
    color: rgb(255, 185, 55);
    border: 2px solid rgb(255, 185, 55);
    transition: all 50ms ease;
}

#voltar:active {
    transform: scale(0.95);
    transition: all 50ms ease;
}

#livro {
    margin: 5px;
    display: inline;
    position: relative;
    width: 60px;
    height: 70px;
    cursor: pointer;
}

#livro:active {
    left: 3px;
    bottom: 3px;
}

#vitoria {
    visibility: hidden;
    color: orange;
    text-shadow: 2px 2px orangered;
}

#pts-atual {
    text-decoration: underline;
    margin-bottom: 10px;
}

#confirmar {
    margin: 10px 40%;
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
    color: red;
    visibility: hidden;
}